header {
  height: 100px;
  background-color: green;
}

header div {
  height: 100%;
  width: 250px;
  margin: auto;
}

header h1 {
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: cursive;
}
